@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

*{
   font-family: 'Roboto Condensed', sans-serif !important;
   box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
